<div class="main-container">
    <h1>Sign in to see your pet!</h1>

    <div class="form-container">
        <form id="login-form" method="POST" action="/login">

            <div class="input-container">
                <label for="usernameInput">Username:</label>
                <input type="text" name="usernameInput" id="usernameInput" placeholder="Username" value="{{inputs.usernameInput}}">
            </div>
            <p class="error" id="usernameError">{{errors.username}}</p>

            <div class="input-container">
                <label for="passwordInput">Password:</label>
                <input type="password" name="passwordInput" id="passwordInput" placeholder="Password" value="{{inputs.passwordInput}}">
            </div>
            <p class="error" id="passwordError">{{errors.password}}</p>

            {{#if otherError}}
                <p class="error" id="otherError">{{otherError}}</p>
            {{/if}}

            <div class="button-container">
                <button type="submit">Enter</button>
            </div>

        </form>
    </div>

    <a href="/register">Click here to register!</a>
</div>
<script src="/public/js/login.js"></script>
