<div class="container">
    <h1> Pet Name: {{name}} </h1>

    <u1 id="petStats">
        <li>Food: {{food}}</li>
        <li>Cleanliness: {{cleanliness}}</li>
        <li>Happiness: {{happiness}}</li>
        <li>Rest: {{rest}}</li>
        <li>Last Fed: {{lastFed}}</li>
        <li>Last Cleaned: {{lastCleaned}}</li>
        <li>Last Played With: {{lastPlayed}}</li>
        <li>Hat: {{hat}}</li>
        <li>Background: {{background}}</li>
    </u1>

    <div class="links">

        <a href="/home">Back</a>
        <a href="/logout">Logout</a>
    </div>

</div>
