<div class="main-container">

    <h1>Register an Account</h1>

    <div class="form-container">
        <form id="login-form" method="POST" action="/register">

            <div class="firstName-container">
                <label for="firstNameInput">First Name:</label>
                <input type="text" name="firstNameInput" id="firstNameInput" placeholder="First Name" value={{inputs.firstNameInput}}>
                <p id="firstNameError">{{errors.firstName}}</p>
            </div>

            <div class="lastName-container">
                <label for="lastNameInput">Last Name:</label>
                <input type="text" name="lastNameInput" id="lastNameInput" placeholder="Last Name" value={{inputs.lastNameInput}}>
                <p id="lastNameError">{{errors.lastName}}</p>
            </div>

            <div class="email-container">
                <label for="emailInput">Email Address:</label>
                <input type="text" name="emailInput" id="emailInput" placeholder="Email" value={{inputs.emailInput}}>
                <p id="emailError">{{errors.email}}</p>
            </div>

            <div class="username-container">
                <label for="usernameInput">Username:</label>
                <input type="text" name="usernameInput" id="usernameInput" placeholder="Username" value={{inputs.usernameInput}}>
                <p id="usernameError">{{errors.username}}</p>
            </div>

            <div class="password-container">
                <label for="passwordInput">Password:</label>
                <input type="password" name="passwordInput" id="passwordInput" placeholder="Password" value={{inputs.passwordInput}}>
                <p id="passwordError">{{errors.password}}</p>
            </div>

            <p id="otherError">{{otherError}}</p>

            <div class="button-container">
                <button type="submit">Enter</button>
            </div>

        </form>
    </div>

    <a href="/login">Already have an account? Click here to log-in</a>

</div>