<div class="main-container">

    <h1>Register an Account</h1>

    <div class="form-container">
        <form id="login-form" method="POST" action="/register">

            <div class="input-container">
                <label for="firstNameInput">First Name:</label>
                <input type="text" name="firstNameInput" id="firstNameInput" placeholder="Steve" value={{inputs.firstNameInput}}>
            </div>
            <p class="error" id="firstNameError">{{errors.firstName}}</p>

            <div class="input-container">
                <label for="lastNameInput">Last Name:</label>
                <input type="text" name="lastNameInput" id="lastNameInput" placeholder="Rogers" value={{inputs.lastNameInput}}>
            </div>
            <p class="error" id="lastNameError">{{errors.lastName}}</p>

            <div class="input-container">
                <label for="usernameInput">Username:</label>
                <input type="text" name="usernameInput" id="usernameInput" placeholder="srogers" value={{inputs.usernameInput}}>
            </div>
            <p class="error" id="usernameError">{{errors.username}}</p>

            <div class="input-container">
                <label for="passwordInput">Password:</label>
                <input type="password" name="passwordInput" id="passwordInput" placeholder="Password" value={{inputs.passwordInput}}>
            </div>
            <h5>Password must contain at least one uppercase, one numeric, and one special character.</h5>
            <p class="error" id="passwordError">{{errors.password}}</p>

            {{#if otherError}}
                <p class="error" id="otherError">{{otherError}}</p>
            {{/if}}

            <div class="input-container">
                <label for="emailInput">Email:</label>
                <input type="text" name="emailInput" id="emailInput" placeholder="email@example.com" value={{inputs.emailInput}}>
            </div>
            <p class="error" id="emailError">{{errors.email}}</p>

            <div class="button-container">
                <button type="submit">Enter</button>
            </div>

        </form>
    </div>

    <a href="/login">Already have an account? Click here to log-in</a>

</div>